<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_group.user.name %>
</p>

<p>
  <strong>Group:</strong>
  <%= @user_group.group.name %>
</p>

<%= link_to 'Edit', edit_user_group_path(@user_group) %> |
<%= link_to 'Back', user_groups_path %>
